@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --font-primary: 'Inter', sans-serif;
}

body {
  font: 400 16px/24px Inter, sans-serif;

}

img[height] {
  height: initial !important;
}

.react-tooltip.react-tooltip__show {
  opacity: 1 !important;
}

* {
  @apply !scroll-smooth;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

*:disabled,
.disabled {
  cursor: not-allowed;
}

* {
  outline: 0;
}

.no-scrollBar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scrollBar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #999; /* Set the color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Set the color of the thumb on hover */
}

::placeholder {
  @apply placeholder:text-text-placeholder;
}

[data-base-hover='true'] {
  transition: all 0.22s;
  cursor: pointer;
}

[data-base-hover='true']:hover {
  opacity: 0.5;
}

[data-base-hover='true']:active {
  opacity: 0.7;
}

button,
a {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-moz-scrollbar,
html::-moz-scrollbar {
  width: 0px;
  height: 0px;
}

.selectText {
  @apply text-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.025em;
}

.btnText {
  font-weight: 500;
  letter-spacing: .02em;
  font-size: .875rem;
  line-height: 1;
}

.btnIcon {
  font-size: 1rem;
  margin-right: -.5rem;
}

.btnDefault {
  @apply cursor-pointer flex gap-2 transition duration-100 ease-out items-center rounded py-1.5 px-3 hover:bg-[#F7F7F7] active:bg-gray/[.08]
}

.btnBlue {
  @apply text-white bg-blue hover:bg-blue/[.8] active:bg-action;
  box-shadow: 0px 0px 0px 1px #4665d2, 0px 1px 2px 0px #3959cc80;
}

.btnWhite {
  @apply bg-white active:bg-gray/[.08] hover:bg-primary-border;
  box-shadow: 0px 0px 0px 1px #12376914, 0px 1px 2px 0px #a4acb93d;
}

.btnLarge {
  min-height: 36px;
}

.btnXLarge {
  min-height: 40px;
}
