.header {
  @apply w-full sticky top-0 items-center border-b-[1px] border-solid border-primary-disabled bg-white;
  z-index: 50;
}

.headerWrapper {
  @apply flex py-3 items-center justify-between;
  gap: 50px;
}

.headerLogo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerNav {
  display: flex;
  flex: 1 1 0;
  gap: 0.25rem;
  justify-content: flex-end;
}

.headerNavBtn {
  margin-left: 0.25rem;
}

.headerSearch {
  @apply items-center justify-between mr-auto relative;
}

.headerSearch input {
  @apply py-1.5 pl-10 pr-3 rounded;
  width: 384px;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.headerSearch input:focus {
  box-shadow: 0px 0px 0px 1px #4665d2, 0px 1px 2px 0px #3959cc80;
}

.headerSearchIcon {
  @apply absolute left-2 flex text-text-icon;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.125rem;
}
